# Entornos virtuales
.venv/
venv/
ENV/
env/

# Variables de entorno y llaves secretas
.env
*.env

# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de sistema / IDEs
.vscode/
.idea/
.DS_Store